body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-top {
    padding-top: 45px;
    padding-bottom: 17px;
}

.btn-submit-stretch {
    display: block;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(0, 129, 177);
}

.btn-submit-text {
    font-size: 13px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.997;
    text-align: center;
    -moz-transform: matrix( 0.99994210176704,0,0,0.99843281120907,0,0);
    -webkit-transform: matrix( 0.99994210176704,0,0,0.99843281120907,0,0);
    -ms-transform: matrix( 0.99994210176704,0,0,0.99843281120907,0,0);
    z-index: 21;
}


.form-horizontal-center {
    margin: auto;
    width: 764.125px;
}

h2 {
    text-align: center;
}

.navbar-center {
    text-align:center;
}

.navbar-nav {
    display:inline-block;
    float:none;
}

.form-text {
    font-size: 16px;
    font-family: "Arial";
    color: rgb(86, 91, 94);
    line-height: 1.625;
    text-align: center;
    width: 764.125px;
    height: 41px;
    z-index: 45;
}


.required-asterisk {
    background-image: url("../Images/asterisk.png");
    background-position: calc(100% - 20px);
    background-position-y: 12px;
    background-repeat: no-repeat;
}

.example-site-text {
    font-size: 35px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 0.742;
}

.rounded-rectangle-15 {
    border-radius: 10px;
    background-color: rgb(0, 129, 177);
    padding: 15px 15px 15px 15px;
    
}

.rounded-rectangle-11 {
    border-radius: 20px;
    background-color: rgb(0, 129, 177);
    width: 160px;
    height: 40px;
    display: table;
    text-align: center;
}

.phone-number {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
}

.phone-icon {
    background-image: url("../Images/phone.png");
    background-position: left center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.facebook {
    background-image: url("../Images/facebook.png");
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    z-index: 60;
}

.facebook-inverted {
    background-image: url("../Images/facebook-inverted.png");
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    z-index: 60;
}

.hero-unit {
    background-image: url("../Images/hero.png");
    background-position: center -100px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 378px;
    margin-top: 62px;
}

.body-content {
    padding-bottom: 650px;
}

.navbar-footer {
    padding-top: 37px;
    padding-bottom: 10px;
}

.navbar-footer-top {
  font-size: 13px;
  font-family: "Arial";
  color: rgb(239, 239, 239);
  line-height: 2;
  text-align: center;
  margin-bottom: -20px;
}

.navbar-footer-bottom {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(239, 239, 239);
  line-height: 2.167;
}

.location-info-box-inner > .call-information {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.75;
  text-align: center;
}
.location-info-box-inner > h4 {
  font-size: 24px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.167;
  text-align: center;
}
.location-info-box-inner > address {
  font-size: 20px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.6;
  text-align: center;
  white-space: pre;
}
.location-info-box-inner > h3 {
  font-size: 32px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 0.875;
  text-align: center;
}

.location-row {
    height: 540px;
    position: absolute;
    left: 0px;
    right: 0px;
}

.location-info-box {
  background-color: rgb(0, 129, 177);
  height: 100%;
  padding: 0px 0px 0px 0px;
}

.location-info-box-inner {
    margin-left: 45%;
    padding-top: 86px;
    padding-bottom: 43px;
}

.location-map-box {
    height: 100%;
    padding: 0px 0px 0px 0px;
}

.location-map {
    height: 100%;
    width: 100%;
}

